<ng-container *ngIf="vm$ | async as vm">
  <h1>Participants</h1>

  <app-participant-editor [formControl]="participantControl">

  </app-participant-editor>

  <div class="g-button-group">
    <button mat-button (click)="cancel()">
      Cancel
    </button>
    <button mat-button (click)="save()" [disabled]="participantControl.pristine">
      Save
    </button>
  </div>

  <div class="g-grid">

    <app-participant-card (deleted)="handleDelete(participant)" [participant]="participant" *ngFor="let participant of vm.participants">

    </app-participant-card>

  </div>
</ng-container>
