.g-form {
  margin: 60px 0px;
  display: block;
}

textarea {
  font-family: Lato;
  display: block;
  resize: none;
  height: 287px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  margin: 32px 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline:none;
  padding:20px;
  font-size: 16px;
  line-height: 1.5em;
}
