.pill {
  align-items: center;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-grid;
  font-size: 12px;
  gap: 10px;
  grid-template-columns: 1fr;
  min-height: 28px;
  padding: 2px 10px 2px 10px;
  overflow: hidden;
  user-select: none;
  width: fit-content;
}
