<ng-container *ngIf="vm$ | async as vm;  else loading">
  <h1>Interactions</h1>

  <div class="g-button-group">
    <button mat-raised-button class="g-button" (click)="create()">Create</button>
  </div>

  <div class="g-grid">
    <app-interaction-card (deleted)="handleDelete($event)" *ngFor="let interaction of vm.interactions" [interaction]="interaction" (click)="edit(interaction)">
    </app-interaction-card>
  </div>
</ng-container>

<ng-template #loading>
  <div class="g-loading">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </div>
</ng-template>
